.containerSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 24px;
}

.iconParagrapf {
    fill: transparent;
    stroke: var(--border-pagination-color);
    transition: stroke 0.3s ease;
 }

 .iconParagrapf:active,
 .iconParagrapf:hover {
    stroke: var(--primary-color);
    cursor: pointer;
  }
  
  .iconParagrapf.activeLeft {
    stroke: var(--primary-color); /* Постійно підсвічена стрілка вліво */
}

.iconParagrapf.activeRight {
    stroke: var(--primary-color); 
}

.iconParagrapf.disabled {
    stroke: var(--border-pagination-color); /* Сірий колір для вимкненої кнопки */
    pointer-events: none; /* Вимикає кліки */
    opacity: 0.5; /* Робить стрілку напівпрозорою */
}

 .pageCircle {
    width: 44px;
    height: 44px;
    border: 1px solid var(--border-pagination-color);
    border-radius: 50%;
    background-color: transparent;
    color: inherit;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pageCircle:hover,
  .pageCircle:hover {
    background-color: var(--hover-color); 
    color: var(--white-color);
  }
  
  .pageCircle.activeCircle {
    background-color: var(--green-accent-color); 
    color: var(--white-color);
  }
  
  .pageCircle.activeCircle:hover {
    background-color: var(--hover-active-color); 
  }
 
 .disabled {
    opacity: 0.5; 
    pointer-events: none; 
  }