.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.03em;
    color: var(--white-color);
}

.logoGreen {
    color: var(--green-accent-color); 
}

@media(min-width: 1440px) {

.logo {
    gap: 14px;
    font-size: 20px;
    line-height: 1.2px;
}
}  

