.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.03em;
}

.logoGreenText {
    color: var(--primary-color); 
  }
  
.logoBlackText {
    color: var(--white-color);
  }

@media(min-width: 1440px) {

.logo {
    gap: 14px;
    font-size: 20px;
    line-height: 1.2px;
}
}  

