.sectionCart {
    width: 375px;
    height: auto;
    padding: 120px 20px 80px 20px;
    background-color: var(--bg-color);
}

.titleCart {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 40px;
}

.containerCart {
    width: 320px;
    height: 100%;
    border-radius: 27px;
    background-color: var(--white-color);
    padding: 20px 20px 40px 20px;
}

.subTitleCart {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
}

.textCart {
    line-height: 1.2;
    color: var(--subprimary-color);
    margin-bottom: 40px;
}

.containerInput {
    display: grid; 
    grid-template-columns: repeat(1, 1fr); 
    gap: 16px; 
    max-width: 574px; 
    width: 100%; 
}

.label {
    display: block;
    margin-left: 18px;
    margin-bottom: 8px;
    font-weight: 600;
    line-height: 1.2; 
}
 
.formInput {
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid var(--bg-green-color);
    border-radius: 60px;
    background-color: var(--white-color);
    font-size: 12px;
    line-height: 1.5;
    width: 100%;
    padding: 13px 18px;
    transition: var(--animation);
}

.formInput:focus {
    outline: none;
    border-color: var(--green-accent-color);
}

.formInput:active {
    background-color: var(--green-accent-color);
}

.errorMsg {
    color: var(----btn-bg-red-color);
}

.buttonCart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8;
    border: none;
    border-radius: 60px;
    padding: 13px 32px 13px 32px;
    font-weight: 500;
    line-height: 1.2;
    background-color: var(--btn-green-accent-color);
    color: var(--white-color);
}

.buttonCart:hover,
.buttonCart:active {
    background-color: var(--green-accent-color);
}

.radioGroup {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    margin-bottom: 40px;
}

.radioContainer {
    display: flex;
}

.radioLabel {
    display: flex;
    align-items: center;
    line-height: 1.2; 
    color: var(--subprimary-color);
}

.radioInput {
    margin-right: 10px; 
    appearance: none; 
    width: 18px;
    height: 18px;
    border: 2px solid rgba(18, 20, 23, 0.2);
    border-radius: 50%;
    background-color: var(--white-color);
    position: relative;
    transition: var(--animation);
}

.radioInput:checked::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--green-accent-color);
    border-radius: 50%;
    position: absolute;
    top: 48%;
    left: 48%;
    transform: translate(-48%, -48%);
}

.radioInput:checked + .radioLabel {
    color: var(--primary-color);
}

.radioInput:focus {
    outline: 1px solid var(--green-accent-color);
}

.radioInput:active,
.radioInput:checked {
    border: 1px solid var(--green-accent-color);
}

.containerTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 295px;
    width: 100%;
    padding: 14px 18px;
    border-radius: 8px;
    background-color: var(--bg-green-lite);
    margin-top: 20px;
    margin-bottom: 20px;
}

.total {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}

.iconParagrapfTotal {
    position: relative;
    top: -2px;
    right: 0;
}

.horizontalLine {
    position: relative; 
    width: 100%; 
    height: 1px; 
    background-color:  rgba(29, 30, 33, 0.1); 
    margin: 40px 0; 
}

/* addToCart */

.addContainer {
    width: 320px;
    padding-top: 80px;
}

.listCart {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.itemCart {
    display: flex;
    gap: 12px;
    margin-bottom: 40px;
    position: relative;
}

.itemCart::after {
   content: "";
   position: absolute;
   top: -20px;
   left: 0;
   width: 100%;
   border: 1px solid var(--border-grey-color);
}

.itemCart:first-of-type::after {
    content: none;
    border: none; 
}

.infoCart {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.imgCart {
    max-width: 120px;
    padding: 14px 18px;
    border: 1px solid var(--light-grey-color);
    border-radius: 27px;
}

.textCart {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
}

.iconParagrapf {
    position: relative; 
    top: 6px;
    left: 4px;
}

.price {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    position: relative;
    top: -12px;
    left: 24px;
}

.btnCounter {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.removeButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    width: 88px;
    padding: 8px 12px;
    border-radius: 40px;
    background-color: var(--bg-red-color);
    color: var(--btn-bg-red-color);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.05;
}

.removeButton:active,
.removeButton:hover {
    color: var(--white-color);
    background-color: var(--btn-bg-red-color);
}

/* confirmAlert */
.modalDeleteCart {
   width: 300px;
   padding: 20px;
   background: var(--border-button-color);
   border-radius: 8px; 
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.containerModalCart {
   display: flex;
   justify-content: space-between;
   padding: 20px;
}

.titleModalCart {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.textModalCart {
    font-size: 18px;
    margin-bottom: 20px;
}

.buttonYes {
    background-color: var(--btn-bg-red-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
  }
  
  .buttonNo {
    background-color: var(--green-accent-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
  }

.errorMsg {
    color: var(--btn-bg-red-color);
}

@media (min-width: 768px) {

.sectionCart {
    width: 768px;
    padding: 148px 32px 120px 32px;
}

.titleCart {
    margin-bottom: 32px;
}

.containerCart {
    width: 704px;
    padding: 40px 78px;
}

.subTitleCart {
    font-size: 20px;
}

.textCart {
    font-size: 16px;
}

.containerInput {
    grid-template-columns: repeat(2, 1fr);     
}

.label {
    margin-left: 14px;
}

.radioInput {
    width: 20px;
    height: 20px;
}

.radioInput:checked::before { 
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    /* addToCart */

.addContainer {
    width: 704px;
    padding: 80px 20px 0 20px;
}

.listCart {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.infoCart {
    display: flex;
    flex-direction: column;
    width: 704px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.textCart {
    font-size: 18px;
}

.btnCounter {
    display: flex;
    justify-content: space-between;
}

.priceConteiner {
    display: flex;
    align-items: flex-start;
}

.price {
    font-size: 14px;
    top: 2px;
    left: -6px;
}

.iconParagrapf {
    top: -2px;
    left: -10px;
}

.removeButton {
    width: 108px;
}

.modalDeleteCart {
    width: 500px;
}

}

@media (min-width: 1440px) {
.sectionCart {
    display: flex;
    width: 1440px;
    justify-content: space-between;
    padding: 172px 128px 120px 128px;
}

.containerCart {
     width: 628px;
    padding: 40px;
}

/* addToCart */
.addContainer {
    width: 460px;
    padding: 80px 20px 0 20px;
}

.price {
    left: -6px;
}
    
.iconParagrapf {
    left: -8px;
}
    
.textCart {
    font-size: 18px;
}
    
.btnCounter {
    display: flex;
    justify-content: space-between;
}
    
.modalDeleteCart {
    width: 600px;
}
}


/* notification Cart */
@keyframes fadeInBounce {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    50% {
      opacity: 0.5;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .containerNotification {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px; 
    background: linear-gradient(to bottom, #f0f8ff, #e6f7ff); 
    border: 1px solid #b3e5fc;
    border-radius: 8px;
    padding: 20px;
    animation: fadeInBounce 1s ease-in-out;
  }
  
  .notification {
    font-size: 1.2rem;
    color: #0d47a1;
    text-align: center;
    font-weight: bold;
    position: relative;
  }
  
  .notification:after {
    content: '💊';
    position: absolute;
    left: -30px;
    animation: rotateIcon 1.5s infinite linear;
  }
  
  @keyframes rotateIcon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (min-width: 768px) {
    .notification:after {
        left: -30px;
      }
  };
