.sectionMedicine {
    max-width: 375px;
    width: 100%;
    padding: 40px 20px 80px 20px;
    background-color: var(--bg-color);
}

.listMedicine {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listMedicine {
    max-width: 335px;
    width: 100%;

}

.imgMedicine {
    background-image: url('/path/to/default/image.jpg');
    background-size: cover;
    background-position: center;
    width: 335px;
    height: 335px;
}