.sectionMedicine {
    max-width: 375px;
    width: 100%;
    padding: 40px 20px 80px 20px;
    background-color: var(--bg-color);
}

.listMedicine {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listMedicine {
    max-width: 335px;
    width: 100%;

}

.imgMedicine {
    border: 1px solid var(--green-accent-color);
    border-radius: 20px;
    background: url(image),var(--bg-grey-img);
    margin-bottom: 8px;
}

.infoContainer {
    padding: 20px;
    border-radius: 20px;
    background: var(--white-color);
}

.infoText {
   display: flex;
   align-items: center;
   gap: 144px;
}

.textInfo {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
}

.iconParagrapf {
    fill: transparent;
    stroke: var(--primary-color);
    
}
 
.infobtn {
    display: flex; 
    align-items: center; 
}