:root {
    --primary-color: #1D1E21;
    --subprimary-color: #6A6A6F;
    --secondary-color: #93939A;
    --grey-secondary-color: #12141733;
    --white-color: #ffffff;
    --bg-white-color: #FDFDFD;
    --light-grey-color: #F1F1F1;
    --bg-color: #F7F8FA;
    --green-accent-color: #59B17A;
    --btn-green-accent-color: #3F945F;
    --btn-bg-red-color: #E85050;
    --btn-accentbg-red-color: #E850501A;
    --yellow-color: #FFC531;
    --bg-green-lite: #E7F1ED;
    

    
    --bg-green-color: rgba(89, 177, 122, 0.1);
    --border-grey-color: rgba(29, 30, 33, 0.1);
    --grey-secondary-color: rgba(18, 20, 23, 0.2);
    --placeholder-color: rgba(29, 30, 33, 0.4);

} 