.counterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-grey-color);
    border-radius: 60px;
    gap: 10px;
}

.page1 {
    height: 44px;
    width: 108px;
  }
  
  .page2 {
    width: 94px;
    height: 32px;
  }

.buttonCounter {
   border: none;
   background: none;
}

.iconIncrement {
    fill: transparent;
    stroke: var(--green-accent-color);
}

.iconDecrement {
    padding-top: 4px;
    fill: transparent;
    stroke: var(--green-accent-color); 
}

.iconIncrement:active,
.iconIncrement:hover {
    stroke: var(--yellow-color); 
}

.iconDecrement:active,
.iconDecrement:hover {
    stroke: var(--yellow-color); 
}
