.sectionShop {
    display: flex;
    justify-content: center;  
    align-items: center;     
    width: 376px;            
    height: 100vh;           
    padding: 20px;            
    box-sizing: border-box;   
    background-color: var(--green-accent-color); 
}

.modalContainer {
    margin: 0 auto;
    background-color: var(--bg-color);
    padding: 100px 20px;
    border-radius: 16px;
    box-shadow: 8px 8px 0px var(--grey-secondary-color);
    width: 400px;          
    height: 400px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
  
.modalTitle {
    text-align: center;
    font-size: 20px;
    color: var(--btn-bg-red-color);
    font-weight: 600;
    margin: 0 0 10px 0;
    animation: fadeInUp 0.5s ease-out;
}

.capsule {
    width: 300px;
    height: 200px;
}
  
@media (min-width: 768px) {
    .sectionShop {
        width: 100vw;   
    }

    .modalContainer {
        width: 700px;    
        height: 600px;
    }

    .modalTitle {
        font-size: 34px;     
        margin-bottom: 20px;
    }

    .capsule {
        width: 400px;         
        height: 250px;
    }
}

@media (min-width: 1440px) {
    .sectionShop {
        width: 100vw;  
    }

    .modalTitle {
        font-size: 40px;    
    }
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .modalContainer:exit {
    animation: fadeOutDown 0.5s ease-out forwards;
  }
  
  @keyframes fadeOutDown {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }
