.containerReviews {
    max-width: 375px;
    width: 100%;
    background-color: var(--bg-color);
}

.listReviews {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; 
    width: 100%;  
    padding-bottom: 16px;
}

.listReviews::-webkit-scrollbar {
    display: none; 
}

.itemReview {
  flex: 0 0 335px;
  z-index: 1;
  scroll-snap-align: start;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    width: 335px;
    padding: 16px 16px 40px 16px;
    background: var(--bg-white-color);
    border-radius: 27px;
    border: 1px solid var(--light-grey-color);
}

.reviewImage {
    position: relative; 
    top: -32%;
    left: 40%; 
    width: 64px;
    height: 64px;
    z-index: 10;
    border-radius: 0;
    object-fit: initial;
    object-position: initial;
}

.name {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}

.testimonial {
    width: 302px;
    height: 100px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: var(--secondary-color);
    text-align: center; 
    text-align: justify;
}

.containerNotification {
    width: 375px;
  }

  .notification {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: transparent;
    background-image: linear-gradient(
      90deg,
      var(--green-accent-color) 20%, 
      var(--btn-green-accent-color) 40%,
      var(--yellow-color) 60%, 
      var(--btn-bg-red-color) 80% 
    );
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
  }


@media (min-width: 768px) {
    .containerReviews {
        max-width: 768px;
    }
    
    .listReviews {
        gap: 28px;
    }

    .itemReview {
        flex: 0 0 344px;
    }
      
    .containerInfo {
        width: 344px;
        padding: 16px 16px 40px 16px;
    }
          
    .textReviews {
        font-size: 16px;
        margin-bottom: 64px;
    }
    .containerNotification {
        width: 768px;
    }
}

@media (min-width: 1440px) {
    .containerReviews {
        max-width: 1440px;
    }

    .listReviews {
        overflow-x: hidden;
        scroll-snap-type: none;
    }
    
    .itemReview {
        flex: 0 0 382px;
    }

    .containerNotification {
        width: 1440px;
    }

}