.sectionReviews {
    max-width: 375px;
    width: 100%;
    padding: 80px 20px;
    background-color: var(--bg-color);
}

.titleReviews {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 14px;
    text-align: center;
}

.textReviews {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 40px;
}

.listReviews {
    display: flex;
    flex-direction: row;
    justify-content: start; 
    gap: 16px;
    overflow-x: auto; /* Дозволяє горизонтальну прокрутку */
    padding-bottom: 16px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Плавна прокрутка на мобільних пристроях */
    scroll-behavior: smooth;
    width: 100%;  
}

.listReviews::-webkit-scrollbar {
    display: none; /* Сховуємо смугу прокрутки */
}

.itemReview {
  position: relative;
  width: 335px;
  flex-shrink: 0;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    width: 335px;
    padding: 16px 16px 40px 16px;
    background: var(--bg-white-color);
    border-radius: 27px;
    border: 1px solid var(--light-grey-color);
}

.reviewImage {
    position: static;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    border-radius: 0;
    object-fit: initial;
    object-position: initial;
}

.name {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}

.testimonial {
    width: 302px;
    height: 100px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: var(--secondary-color);
    text-align: center;
}

/* @media (min-width: 768px) {
    .sectionReviews {
        max-width: 768px;
        padding: 80px 20px;
        background-color: var(--bg-color);
        overflow: hidden;
    }
    
    .titleReviews {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 14px;
        text-align: center;
    }
    
    .textReviews {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        color: var(--secondary-color);
        text-align: center;
        margin-bottom: 40px;
    }
    
    .listReviews {
        display: flex;
        flex-direction: row;
        gap: 16px;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scrollbar-width: none; 
        -ms-overflow-style: none; 
    }
    
    .listReviews::-webkit-scrollbar {
        display: none; 
      }
    
    .itemReview {
       display: flex;
       flex-direction: column;
       scroll-snap-align: start;
       width: 335px;
       padding: 0px 16px 40px 16px;
       background: var(--bg-white-color);
       border-radius: 27px;
       border: 1px solid var(--light-grey-color);
    }
    
    .name {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
    }
    
    .testimonial {
        width: 302px;
        height: 100px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        color: var(--secondary-color);
        text-align: center;
    }
} */