.sectionModal {
    padding: 40px 30px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
}

.titleModalAuthorization {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 14px;
}

.textModalAuthorization {
    text-align: center;
    width: 250px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--subprimary-color);
    margin-bottom: 25px;
}

.containerInput {
    text-align: center; 
    max-width: 280px;
    width: 100%;
}

.formInput {
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid var(--bg-green-color);
    border-radius: 60px;
    background-color: var(--white-color);
    font-size: 12px;
    line-height: 1.5;
    width: 100%;
    padding: 13px 18px;
    transition: var(--animation);
}

.formInput::placeholder {
    color: var(--secondary-color);
}

.formInput:focus {
    outline: none;
    border-color: var(--green-accent-color);
}

.formInput:active {
    background-color: var(--green-accent-color);
}

.errorMsg {
    color: var(--btn-bg-red-color);
}

.textForm {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary-color);
    text-align: center;
}

.authorizationBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 112px 13px 112px;
    max-width: 335px;
    width: 100%;
    background-color: var(--btn-green-accent-color);
    color: var(--white-color);
    border: none;
    border-radius: 60px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 14px;
    transition: var(--animation);
}

.authorizationBtn:hover,
.authorizationBtn:active {
    background-color: var(--green-accent-color);
}

@media (min-width: 768px) {
    .sectionModal {
        padding: 50px 70px;
        max-width: 474px;
        margin: 0 auto;
    }

    .containerInput {
        max-width: 324px;
    }
}
