.header {
   display: flex;
   align-items: center;
   justify-content: space-between; 
   max-width: 375px; 
   position: absolute;
   top: 28px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 9;
   padding: 0 16px; 
   width: 100%;
}

.nav {
   display: none; 
}

.burgerMenu {
   display: block;
   position: relative; 
   z-index: 10;
   margin-left: auto; 
   stroke: var(--white-color);
   background: none; 
   border: none;
}

.iconBurger {
   width: 32px;
   height: 32px;
   background: transparent; 
   fill: none;
}

@media (min-width: 768px) {
   .header {
      max-width: 768px; 
      padding: 0 32px; 
   }

   .nav {
      display: none; 
   }

   .burgerMenu {
      display: block; 
   }
}

@media (min-width: 1440px) {
   .header {
      max-width: 1440px; 
      padding: 28px 128px; 
      justify-content: space-between; 
   }

   .nav {
      display: flex;
      align-items: center;
      justify-content: space-between; 
   }

   .burgerMenu {
      display: none; 
   }
}