.header {
   display: flex;
   align-items: center;
   width: 375px; 
   position: absolute;
   top: 28px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 9;
   padding: 0 16px; 
}

.nav {
   display: none; 
}

.burgerMenu {
   display: block;
   position: relative; 
   z-index: 10;
   margin-left: 10px; 
   background: none; 
   border: none;
}

.burgerMenuWhite .iconBurger {
   stroke: var(--white-color);
 }

.burgerMenuGreen .iconBurger {
   stroke: var(--green-accent-color);
}

.iconBurger {
   width: 32px;
   height: 32px;
   background: transparent; 
   fill: none;
}

.userCartContainer {
   display: flex;
   align-items: center;
   gap: 10px;
}

.btnCart {
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   background-color: transparent;
   border: 1px solid var(--light-grey-color);
   background-color: var(--white-color);
   width: 44px;
   height: 44px;
   border-radius: 50%;
   position: relative;
}

.cartIcon {
   fill: transparent;
   stroke: var(--green-accent-color);
}

.btnCart:active {
   background-color: var(--bg-green-lite); 
}

.cartCount {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background-color: var(--bg-green-lite);
   color: var(--green-accent-color);
   font-size: 12px;
   font-weight: 700;
   line-height: 1.2;
   position: absolute;
   top: -4px; 
   right: -2px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green-accent-color);
    border: none;
    background-color: transparent;
    border: 1px solid var(--light-grey-color);
    background-color: var(--white-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
  }

@media (min-width: 768px) {
   .header {
      width: 768px; 
      padding: 0 32px; 
   }

   .nav {
      display: none; 
   }

   .userCartContainer {
      /* margin-left: 250px; */
   }

   .burgerMenu {
      display: block; 
   }
}

@media (min-width: 1440px) {
   .pageContainer {
      position: relative;
      max-height: 100vh; 
    }

   .header {
      width: 1440px; 
      padding: 28px 100px; 
   }

   .nav {
      display: flex;
      align-items: center;
      margin-left: auto;
   }

   .userCartContainer {
      display: flex;
      align-items: center;
      margin-left: 194px;
      margin-right: 10px;
   }

   .burgerMenu {
      display: none; 
   }
}