.containerNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headerLink {
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 32px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    border: 1px transparent;
    transition: var(--animation);
}

.appBarWhite {
    color: var(--white-color);
}

.appBarWhite .headerLink {
    color: var(--black-color);
    border: 1px solid var(--border-authorisation-color);
}

.appBarWhite .headerLink:hover,
.appBarWhite .headerLink:focus,
.appBarWhite .headerLink:active,
.appBarWhite .headerLink.activeHeader {
    border: 1px solid transparent;
    text-decoration: underline;
    color: var(--black-color);
}

.appBarGreen {
    color: var(--white-color);
}

.appBarGreen .headerLink {
    color: var(--green-accent-color);
    border: 1px solid var(--green-accent-color);
}

.appBarGreen .headerLink:hover,
.appBarGreen .headerLink:focus,
.appBarGreen .headerLink:active,
.appBarGreen .headerLink.activeHeader {
    border: 1px solid transparent;
    text-decoration: underline;
    color: var(--green-accent-color); 
}

.mobileBackgroundColor {
    color: var(--white-color);
}

.desktopBackgroundColor {
    color: var(--green-accent-color);
}

@media (min-width: 768px) {
.containerNav {
   flex-direction: row;
}
}

@media (min-width: 1440px) {
    .containerNav {
        display: flex;
        margin-left: 240px;
    } 
}