.containerNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headerLink {
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 32px;
    line-height: 1;
    white-space: nowrap;
    border: 1px solid var(--border-authorisation-color);
    text-decoration: underline;
}

.appBarWhite .headerLink {
    color: var(--white-color);
    border: 1px solid var(--border-authorisation-color);
    text-decoration: none;
  }

.appBarWhite .headerLink:hover,
.appBarWhite.headerLink:focus,
.appBarWhite .headerLink:active,
.appBarWhite .headerLink.activeHeader { 
    border: none;
    text-decoration: underline;
}
  
  .appBarGreen .headerLink {
    color: var(--green-accent-color);
    border: 1px solid var(--green-accent-color);
    text-decoration: none;
  }

.appBarGreen .headerLink:hover,
.appBarGreen .headerLink:focus,
.appBarGreen .headerLink:active,
.appBarGreen .headerLink.activeHeader { 
    border: none;
    text-decoration: underline;
}

@media (min-width: 768px) {
.containerNav {
   flex-direction: row;
}
}

@media (min-width: 1440px) {
    .containerNav {
        display: flex;
        margin-left: 240px;
    } 
}