.featuresWrapper {
    width: 375px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.containerIcon {
    padding-right: 10px;
}

.iconLightning {
    fill: transparent;
    stroke: var(--green-accent-color);
}

@media (min-width: 768px) {
    .featuresWrapper {
     width: 768px;
    } 
}

@media (min-width: 1440px) {
    .featuresWrapper {
     width: 1440px;
     padding: 0 140px;
     background: var(--bg-color);
    } 
}
  
