.footer {
    padding: 20px;
    background-color: var(--green-accent-color);
    color: var(--white-color);
}

.containerFooter {
    display: flex;
    flex-direction: column;
    max-width: 292px;
    width: 100%;
}

.logoLinkContainer {
    display: flex;
    flex-direction: column;
}

.containerLogo {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.containerLogoImg {
    margin-bottom: 20px;
}

.logoImage {
    width: 32px;
    height: 32px;
}

.footerText {
    max-width: 261px;
    width: 100%;
    line-height: 1.2;
    margin-bottom: 40px;
}

.socialNetworks {
    display: none;
}

.horisontalLine {
    position: relative;
    border: 1px solid var(--bg-color);
    width: 100%;
    margin-bottom: 20px;
}

.containerBottom {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    align-items: center;
  }
  
  .textBottom {
    font-size: 10px;
    line-height: 1.1;
    position: relative;
    padding-right: 10px;
    white-space: nowrap;
    color: var(--white-color);
    transition: var(--animation); 
  }

  .activeStyle {
    color: var(--yellow-color);
  }
  
  .textBottom:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0; 
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--bg-color); 
  }

  @media (min-width: 768px) {
    .footer {
        padding: 32px;  
    }

    .containerFooter {
        flex-direction: row;
        max-width: 706px;
        position: relative;
    }

    .containerLogo {
        margin-right: auto;
    }

    .logoLinkContainer {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 140px;
    }

    .footerText {
        max-width: 260px;
        margin-bottom: 80px;
    }

    .socialInfo {
        display: flex;
        align-items: flex-start; 
    }

    .socialNetworks {
        display: flex;
        gap: 12px;
        position: absolute;
        top: 40px;
        right: 0;
    }

    .iconSocial {
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid var(--bg-color);
        border-radius: 10px;
        transition: var(--animation), background-color 0.3s ease;
    }

    .icon {
        fill: var(--bg-color);
    }

    .iconSocial:hover {
        transform: scale(1.1);
        background-color: var(--grey-secondary-color); 
    }

    .horisontalLine {
        margin-bottom: 30px;
    }

    .containerBottom {
        justify-content: center;
      }
      
      .textBottom {
        font-size: 14px;
        line-height: 1.2;
        padding-right: 24px;
        padding-left: 12px;
      }
  }

  @media (min-width: 1440px) {
    .footer {
      padding: 40px 128px;  
    }
  
    .logoImage {
      width: 44px;
      height: 44px;
    }
  
    .containerFooter {
      max-width: 1180px;
    }
  
    .containerLogo {
      margin-right: 0;
    }
  
    .socialNetworks {
      display: flex;
      gap: 12px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }




  
