.sectionStore {
    max-width: 375px;
    padding: 120px 20px 80px 20px;
    background-color: var(--bg-color);
}

.titleStore {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 40px;
}

.listStores {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemStores {
    max-width: 335px;
    width: 100%;
    padding: 40px;
    border-radius: 26px;
    background-color: var(--bg-green-lite);
    position: relative;
    overflow: hidden;
}

.imagesShadow {
   position: absolute;
   top: 100px;
   left: 220px;
   z-index: 9;
}

.nameStores {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 32px;
}

.rating {
    display: flex;
    align-items: center;
}

.textStores {
    font-size: 14px;
    line-height: 1.2;
}

.iconRating {
    fill: var(--yellow-color);
}

.containerRating {
    display: flex;
    align-items: center;
}