.sectionStore {
    width: 375px;
    width: 100%;
    padding: 120px 20px 80px 20px;
    background-color: var(--bg-color);
}

.titleStore {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listStores {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
}

.itemStores {
    max-width: 335px;
    width: 100%;
    padding: 40px;
    border-radius: 26px;
    background-color: var(--bg-green-lite);
    position: relative;
    overflow: hidden;
}

.imagesShadow {
   position: absolute;
   top: 100px;
   left: 220px;
   z-index: 9;
}

.containerLocation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 18px;  
}

.row {
    display: flex;
    gap: 10px;
}

.textCity {
    margin-left: 26px;
}

.iconMap {
    fill: transparent;
    stroke: var(--green-accent-color);
}

.containerPhone {
    display: flex;
    gap: 10px;
}

.iconPhone {
    fill: var(--green-accent-color);
}

.nameStores {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 32px;
}

.ratingContainer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 40px;
}

.textStores {
    line-height: 1.2;
}

.iconRating {
    fill: var(--yellow-color);
}

.btnStore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-left: 8px;
}

.openStore {
    color: var(--green-accent-color);
    background-color: var(--bg-green-color);
  }
  
  .closedStore {
    color: var(--btn-bg-red-color);
    background-color: var(--bg-red-color);
  }

  .btnVisit {
    display: none;
  }

  .containerNotification {
    width: 375px;
  }

  .notification {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: transparent;
    background-image: linear-gradient(
      90deg,
      var(--green-accent-color) 20%, 
      var(--btn-green-accent-color) 40%,
      var(--yellow-color) 60%, 
      var(--btn-bg-red-color) 80% 
    );
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
  }

  @media (min-width: 768px) {
    .sectionStore {
        width: 768px;
        padding: 152px 32px 120px 32px;
    }
    
    .titleStore {
        margin-bottom: 32px;
    }
    
    .listStores {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px 16px;
    }
    
    .itemStores {
        max-width: 344px;
    }
    
    .containerLocation {
        margin-bottom: 14px;  
    }

    .textCity {
        margin-left: 26px;
    }
    
    .containerPhone {
        margin-bottom: 36px;
    }
    
    .nameStores {
        font-size: 20px;
        margin-bottom: 32px;
    }
    
    .ratingContainer {
        bottom: -140px;
        right: 40px;
    }

    .textStores {
        font-size: 16px;
    }
    
    .btnVisit {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10;
        padding: 10px 16px;
        border: none;
        font-weight: 500;
        line-height: 1;
        color: var(--white-color);
        border-radius: 24px;
        background-color: var(--btn-green-accent-color);
        transition: var(--animate);
    }

    .btnVisit:active,
    .btnVisit:hover {
    background-color: var(--green-accent-color);
}

.imagesShadow {
    top: -40px;
    left: 220px;
    z-index: 9;
 }  
}

@media (min-width: 1440px) {
    .sectionStore {
        width: 1440px;
        padding: 172px 128px 120px 128px;
    }
    
    .titleStore {
        margin-bottom: 32px;
    }
    
    .listStores {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px 16px;
    }
    
    .itemStores {
        max-width: 380px;
    }
    
    .containerLocation {
        margin-bottom: 14px;  
    }

    .textCity {
        margin-left: 26px;
    }
    
    .containerPhone {
        margin-bottom: 36px;
    }
    
    .nameStores {
        margin-bottom: 20px;
    }
    
    .ratingContainer {
        bottom: -150px;
        right: 40px;
    }

    .imagesShadow {
        top: -40px;
        left: 240px;
        z-index: 9;
    } 
    
    .containerNotification {
        width: 1440px;
    }
}

