.closeButton {
    position: absolute;
    top: 20px;
    right: 16px;
    background-color: transparent;
    border: transparent;
}

@media screen and (min-width: 768px) {
    .closeButton {
        right: 20px;
    }
}

.iconClose {
    width: 24px;
    height: 24px;
    transition: stroke var(--animation);
  }
  
  .closeWhite {
    stroke: var(--white-color);
  }
  
  .closeBlack {
    stroke: var(--primary-color);
  }
  
  .closeButton:hover .closeWhite {
    stroke: var(--primary-color);
  }
  
  .closeButton:hover .closeBlack {
    stroke: var(--white-color);
  }

@media screen and (min-width: 768px) {
    .iconClose {
        width: 28px;
        height: 28px;
    }
}

.closeButton:hover .iconClose,
.closeButton:active .iconClose {
    stroke: var(--primary-color);
}

.modalContent {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 20%;
    background-color: var(--white-color);
    border-radius: 15px;
    z-index: 15;
    transition: opacity var(--animation), transform var(--animation);
}


.modalContentOpen {
    opacity: 1;
}

.beforeClose {
    opacity: 0;
}

@media (min-width: 768px) {

    .modalContent {
        right: 16%;
    }
}