.myScroll {
    height: 100%;
    overflow: hidden; /* Замість overflow: auto */
  }
  
  /* Для налаштування зовнішнього вигляду скролбару */
  .myScroll::-webkit-scrollbar {
    width: 8px;
  }
  
  .myScroll::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 9px;
  }
  
  .myScroll::-webkit-scrollbar-thumb {
    background: #323F47;
    border-radius: 9px;
  }
  
  .myScroll::-webkit-scrollbar-thumb:hover {
    background: #323F47;
  }
  
  .myScroll::-webkit-scrollbar-thumb:active {
    background: #323F47;
  }