.containerUserMenu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btnCart {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    border: 1px solid var(--light-grey-color);
    background-color: var(--white-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
}

.cartIcon {
    fill: transparent;
    stroke: var(--green-accent-color);
}

.btnCart:active {
    background-color: var(--bg-green-lite); 
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 32px;
    border: 1px solid var(--border-button-color);
    border-radius: 60px;
    line-height: 1;
    color: var(--green-accent-color);
    transition: var(--animation);
}

.logout:active,
.logout:hover {
    color: var(--white-color);
    background-color: var(--green-accent-color);
}

.cartCount {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background-color: var(--bg-green-lite);
   color: var(--green-accent-color);
   font-size: 12px;
   font-weight: 700;
   line-height: 1.2;
   position: absolute;
   top: -4px; 
   right: -2px;
}

